<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attraktioner</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<h1>Alle attraktioner</h1>

<table>
    <tr th:if="${!attractions.isEmpty()}">
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>By</th>
        <th>Pris (DKK)</th>
        <th>Pris (EUR)</th>
        <th>Opdater</th>
        <th>Slet</th>
        <th>Tags</th>
    </tr>

    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td th:text="${attraction.city.displayName}"></td>

        <td th:text="${attraction.price != null} ? attraction.price + ' DKK' : 'Gratis'"></td>

        <td th:text="${#numbers.formatDecimal(attraction.price / 7.45, 2, 2)} + ' EUR'"></td>


        <td>
            <a th:href="@{/attractions/{name}/edit(name=${attraction.name})}">
                <button type="button">Opdater</button>
            </a>
        </td>

        <td>
            <form th:action="@{/attractions/{name}/delete(name=${attraction.name})}"
                  method="post">
                <button type="submit">Slet</button>
            </form>
        </td>

        <td>
            <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}">
                <button type="button">Tags</button>
            </a>
        </td>

    </tr>
</table>

<br/>

<a th:href="@{/attractions/add}">
    <button type="button">Tilføj attraktion</button>
</a>

</body>
</html>
