<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater attraktion</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<h1>Opdater attraktion</h1>

<form action="#" th:action="@{/attractions/update}" th:object="${touristAttraction}" th:method="post">

    <label>Navn:</label>
    <input type="text" th:value="*{name}" readonly>

    <input type="hidden" th:field="*{name}" />

    <br/>

    <label>Beskrivelse:</label>
    <input type="text" th:field="*{description}" id="-description"/>

    <br/>

    <label>By:</label>
    <select th:field="*{city}">
        <option th:each="city : ${cities}"
                th:value="${city}"
                th:text="${city.displayName}">
        </option>
    </select>

    <br/>

    <label>Tags:</label>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag.displayName}">
    </div>

    <br/>

    <label>Pris (DKK):</label>
    <input type="number" th:field="*{price}" min="0" step="0.01">
    <br/>

    <div>
        <button type="submit">Opdater</button>
        <a th:href="@{/attractions}">
            <button type="button">Tilbage</button>
        </a>
    </div>

</form>
</body>
</html>